
doctype html
html
  head
    meta(charset='utf-8')
    title Address Book
    link(rel="stylesheet" href="/style/style.css")
  body
    h1 People
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') FAQ
        li: a(href='/contact') Contact
        li: a(href='/people') People
    each person in people
      .person
        ul(style="width:2in;height:2in;background-color:#{person.color}")
          li.name
            a(href="#{person.website}") #{person.name}
          li=person.phone
          li
            a(href="mailto:#{person.email}") #{person.email}


